<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <style>
    .black-btn {
      color: white;
      font-weight: 200;
      background-color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: inline-block;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    }

    .black-btn:hover {
      color: black;
      background-color: white;
      outline: 2px solid black;
      outline-offset: -2px;
    }
  </style>
  <body>
    <p><%= @message.content %></p>
    <%= link_to "Reply", "mailto:#{@message.email}?subject=CarreloSquad", class: "black-btn" %>
  </body>
</html>

