<button id="modal-btn" type="button" class="black-btn bigger-btn border-0" data-bs-toggle="modal" data-bs-target="#contactModal">
  Contactar
</button>

<div class="modal actor-imgs-modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true" data-controller="messages">
  <div class="modal-dialog">
    <div class="modal-content white-bg">
      <div class="modal-body px-5 py-4">
        <%= render "shared/message_form", message: @message %>
      </div>
      <div class="modal-footer px-3 py-2" id="footer">
        <button type="button" class="white-bordered-btn white-bg modal-close btn-padding" data-bs-dismiss="modal" data-messages-target="closeBtn">Close</button>
      </div>
    </div>
  </div>
</div>