<div class="footer text-center <%= "white-bg" if action_name == "about" %>">
  <p class="px-4 pb-3 mb-0">© 2023 Carrelo Squad. Todos os direitos reservados. Política de Privacidade Resolução de Litígios Livro de Reclamações</p>
</div>