.white-btn {
  color: $black;
  font-weight: 200;
  background-color: $white;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.black-btn {
  color: $white;
  font-weight: 200;
  background-color: $black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

.admin-btn {
  width: 270px;
  margin: 0 auto;
}

.admin-show-btn {
  width: 130px;
  margin: 0 auto;
}

.admin-btns-container {
  z-index: 9990;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-black-btn {
  color: $white;
  font-weight: 200;
  background-color: $black;
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin-right: 8px;

  &:hover {
    color: $white;
  }
}

.nav-white-btn {
  color: $black;
  font-weight: 200;
  background-color: $white;
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin-right: 8px;

  &:hover {
    color: $black;
  }
}

.btn-padding {
  padding: 12px 16px;
}

.white-bordered-btn {
  color: $black;
  border: 1px solid $black;
  background: $white;
  font-weight: 200;
  text-decoration: none;

  &:hover {
    color: $black;
    border: 1px solid $black;
    background: $white;
    text-decoration: none;
  }
}

.black-bordered-btn {
  color: $white;
  border: 1px solid $white;

  &:hover {
    color: $white;
    border: 1px solid $white;
  }
}

.bigger-btn {
  padding: 12px 58px;
}


@media(max-width: 1000px) {
  .admin-btn {
    display: none;
  }
}