.category-actors {
  transform: rotate(-90deg);
  margin: 0;
  position: fixed;
  top: 205px;
  left: -50px;
  display: none;
}

.category-title {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 30px;
}

@media(max-width: 1200px) {
  .category-actors {
    display: block;
    top: 200px;
  }
}