.margin-top-index {
  margin-top: 130px !important;
}

.margin-top-show {
  margin-top: 77px;
}

.white-bg {
  background: $white;
  color: $black;
}

.black-bg {
  background: $black;
  color: $white;
}

.actor-p {
  font-weight: 200;
  font-size: 18px;
}

.white-link {
  color: $white;
  overflow: scroll;
  display: inline-block;
  width: 100%;

  &:hover {
    color: $white;
  }
}

.black-font {
  color: $black;
}

.white-font {
  color: $white;

  &:hover {
    color: $white;
  }
}