.margin-top-index {
  margin-top: 130px !important;
}

.margin-top-show {
  margin-top: 77px;
}

.white-bg {
  background: $white;
  color: $black;
}

.actor-p {
  font-weight: 200;
  font-size: 18px;
}