.navbar-white {
  justify-content: space-between;
  background: $white;
  border-bottom: 3px solid $yellow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-white .navbar-collapse {
  flex-grow: 0;
}

.navbar-white .navbar-brand img {
  width: 40px;
}

.navbar-black {
  justify-content: space-between;
  background: $black;
  border-bottom: 3px solid $yellow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-black .navbar-collapse {
  flex-grow: 0;
}

.navbar-black .navbar-brand img {
  width: 40px;
}


.logo {
  font-size: 24px;
  line-height: 24px;
}

.logo-aux {
  font-size: 16px;
  letter-spacing: 1px;
}

.menu-burguer {
  border: none;

  &:focus {
    box-shadow: none;
  }
}

.nav-link-black {
  color: $black;

  &:hover {
    color: $black;
  }
}

.nav-link-white {
  color: $white;

  &:hover {
    color: $white;
  }
}

.navbar-toggler-icon-white {
  filter: brightness(0) invert(1);
}

.nav-item {
  align-self: center;
}

@media(max-width: 1000px) {
  .navbar-white .container-fluid {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  
  .navbar-black .container-fluid {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  
  .messages-nav-item {
    align-self: start;
    margin-top: 0.5rem;
  }

  .nav-item {
    align-self: start;
  }

  .nav-mobile-btn {
    text-align: center;
    width: 150px;
  }
}